button {
  outline: none;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #0F0E0E;
  z-index: 900;
  display: flex;
  align-content: center;
  align-self: center;
}

#course_preview_popup {
  align-self: center;
  margin: auto;
}
